{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block description %}Página de vídeo gratuito de Python{% endblock description %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3">{{ video.titulo }}</h1>
                <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}"
                        width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen
                        title="AULA 01 - MOTIVA&amp;Ccedil;&amp;Atilde;O &amp;mdash; Curso de Python Pro"></iframe>
            </div>
        </div>
    </div>
{% endblock body %}
